.toDos{
  white-space: initial;
}

.toDos .badge {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.noFinalizado{
  background-color: #fe0000;
}

.finalizado{
  background-color: lightgreen;
}


