
:root { // variable disponible para todo el proyecto
  --base-color-1: 197, 62%;
  --color-1: hsla(var(--base-color-1), 50%);
  --color-1-dark: hsla(var(--base-color-1), 40%);
  --color-1-light: hsla(var(--base-color-1), 60%);


  --base-color-2: 0, 0%;
  --color-white: hsla(var(--base-color-2), 100%);
  --color-black: hsla(var(--base-color-2), 0%);
}