<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}} -
      <!-- <span *ngIf="hero.typeId"> - {{heroTypeNames[hero.typeId]}}</span> -->
      <app-hero-type [typeId]="hero.typeId"> </app-hero-type>
      <!-- <app-hero-type [typeId]="hero.typeId?"> </app-hero-type>            ESTE VA CON  @Input() typeId: number-->  
    </a>  
  </li> 
</ul>





<!--
<div>
    <ul class="users">
        <li *ngFor="let user of users">
                 <span class="badge">{{users.id}}</span> 
                <div class="name">{{user.name}}</div>
                <div>{{user?.address?.city}}</div>
                <div>{{user?.email}}</div>
                <div>{{user?.id}}</div>
        </li>
    </ul>
</div>--> <!-- esto es de la practica de services y models para poder ver el resultado-->

<!-- <app-label [(text)]="hero.name"></app-label> -->  <!---Esto es de la practica de label sobre input y output-->
